<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial -scale=1, minimum-scale=1">
<!-- Icon -->
<link rel="icon" href="/img/logo.svg" />

<link rel="stylesheet" href="/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/style.css" />
<link rel="stylesheet" href="/css/prism.css" />
</head>
<body>
    <header>
        <div class="jumbotron jumbotron-fluid bg-success text-white">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h1>Programmer Pengguna Linux</h1>
                        <p class="lead">Belajar Pemrograman Apapun Menggunakan Linux</p>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <footer class="border border-bottom-0 border-left-0 border-right-0">
        <div class="container pt-3 pb-3 pt-md-5 pb-md-5">
            <div class="row">
                <div class="col">
    
                    &copy; {{ now.Format "2006"}} <a href="{{.Site.BaseURL}}">{{ .Site.Title }}</a> | Template by <a href="https://www.petanikode.com" target="blank">Petani Kode</a>
    
                </div>
            </div>
        </div>
    </footer>
    <article class="card-post">
        <div class="container">
            <div class="row">
    
                {{ $paginator := .Paginate (where .Site.Pages "Type" "post") 6 }}
                {{ range $paginator.Pages }}
                    <div class="col-md-4 mb-4 d-flex">
                        <div class="card">
                            <a href="{{ .RelPermalink }}">
                            <img class='card-img-top' 
                                src='{{ if eq .Params.Image "" }}https://placeholder.pics/svg/320x160{{else}}{{ .Params.Image}}{{end}}'
                                alt='{{ .Title }}'>
                            </a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a class="text-dark" href="{{ .RelPermalink }}">{{ .Title }}</a>
                                    <div class="col-md-4 mb-4 d-flex">
                                        <div class="card">
                                            <a href="{{ .RelPermalink }}">
                                                <img class='card-img-top' 
                                                    src='{{ if eq .Params.Image "" }}https://placeholder.pics/svg/320x160{{else}}{{ .Params.Image}}{{end}}'
                                                    alt='{{ .Title }}' />
                                            </a>
                                            <div class="card-body">
                                                <h4 class="card-title">
                                                    <a class="text-dark" href="{{ .RelPermalink }}">{{ .Title }}</a>
                                                </h4>
                                            </div>
                                        </div>
                                    </div>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <aside>    
                        <div class="widget">
                            <a href="http://projects.id/petani_kode" target="_blank">
                            <img src="http://lorempixel.com/360/250" alt="Proyek Petani Kode"/>
                            </a>
                        </div>
                        {{ partial "widget/newsletter-form.html" . }}
    {{ partial "widget/adsense-300x250.html" . }}
    <!-- {{ partial "widget/newsletter-form.html" . }} -->
    {{ partial "widget/adsense-300x250.html" . }}             
                        </aside>
                        <script type="text/javascript" src="/js/jquery-3.2.1.slim.min.js"></script>
<script type="text/javascript" src="/js/popper.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/prism.js"></script>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">

        <a class="navbar-brand" href="{{.Site.BaseURL}}"><img src="/img/logo.svg" width="30" height="30" class="d-inline-block align-top rounded-circle"
            alt=""> {{ .Site.Title }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{.Site.BaseURL}}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about.html">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">Contact</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" action="https://www.google.co.id" id="cse-search-box">
                <input type="hidden" name="cx" value="partner-pub-6279325630224392:9670052267" />
                <input type="hidden" name="ie" value="UTF-8" />
                <input type="hidden" name="sa" value="search" />
                <input class="form-control mr-sm-2" type="text" name="q" placeholder="Kata Kunci" aria-label="Search">
                <button class="btn btn-primary my-2 my-sm-0" type="submit">Cari</button>
            </form>
        </div>
    </div>
</nav>
</body>
</html>